
{% extends "home.html" %}

{% block content %}

<div class="about-img">
    <img src="/media/imges/360_F_680460912_UG3v72Xo7kBJUVWnHjMpkhGaSVWgsOHk.webp" alt="content">

    <div class="image-text">
        <h4>About-us</h4>
    </div>
</div>
</div>
<div class="Home-intro">
    <div class="container3">
        <div class="image">
            <img src="/media/imges/360_F_820098572_Kw503SSwhXg59MspQSi5DLbOYw9qYqk1.webp" alt="search">
        </div>
        <div class="content">
            <h2>Welcom to SG PANI PURI </h2>
            <h1>Best PANI PURI in Maharastra</h1>
            <p>Our Story: Founded in 2010 by my mom, our Pani Puri business has its roots in the vibrant street food
                culture of India. What started as a humble venture has grown into a beloved destination for food
                enthusiasts who crave the authentic taste of traditional Indian street food. My mom's passion for
                creating the perfect Pani Puri, with its crisp puris, tangy tamarind water, and spicy fillings,
                quickly won the hearts of locals.

                <br>

                Over the years, we've remained committed to preserving the original flavors while also introducing
                new twists to cater to evolving tastes. Our Pani Puri is not just food—it's an experience that
                brings people together, evoking nostalgia and creating new memories. We take pride in using fresh
                ingredients, maintaining hygiene, and serving every customer with a warm smile, just as my mom did
                when she started this journey.
                <br>
                
                Today, our Pani Puri has become a symbol of love, tradition, and the unbeatable taste of Indian
                street food, and we continue to serve it with the same dedication and passion that started it all.?
            </p>
        </div>
    </div>

</div>
<div class="Founder">
    <div class="Founder-intro">
        <div class="image">
            <img src="/media/imges/IMG_5301.JPG" alt="search">
        </div>
        <div class="about-founder">
            <h1>Our Founder</h1>
            <p>Welcome to SG Pani Puri! My name is Shekhar Gorakh Ghorwade, and I'm proud to be the second
                generation in our family to carry forward the legacy of this beloved business. I completed my B.E.
                in Computer Sciences from Pune, and after a fulfilling academic journey, I decided to join our
                family business in 2023.
                <br>
                The roots of SG Pani Puri go back to 2010 when my mom, Surekha, started this venture with a simple
                yet powerful goal: to bring the authentic taste of Pani Puri to the people of Pune. Over the past 12
                years, my mom has dedicated herself to perfecting every aspect of our offerings, from the crispness
                of the puris to the tanginess of the tamarind water, ensuring that each bite delivers a burst of
                flavor and joy.
            </p>
        </div>
    </div>

</div>
{% endblock  %}
